<div class="ajout">
    <h2>Ajouter Utilisateur Systeme</h2>
</div>
<div id="contentlogin">
    <div class="row">
        <form id="userform" class="border col-sm-8 col-lg-6 mx-auto p-5" action="">

            <div class="row">

                <div class=" col-6 form-group">
                    <label for="username"> Username </label>
                    <input [(ngModel)]="ajoutUUserData.username" name="username" type="text" id="user" class="form-control" required>
                </div>

                <div class=" col-6 form-group">
                    <label for="password"> password </label>
                    <input [(ngModel)]="ajoutUUserData.password" name="password" type="password" id="pass" class="form-control" required>
                </div>
            </div>

            <div class="row">

                <div class="col-6 form-group">
                    <label for="nom">Nom</label>
                    <input [(ngModel)]="ajoutUUserData.nom" name="nom" type="text" id="nom" class="form-control" required>
                </div>

                <div class="col-6 form-group">
                    <label for="prenom">Prenom</label>
                    <input [(ngModel)]="ajoutUUserData.prenom" name="prenom" type="text" id="prenom" class="form-control" required>
                </div>
            </div>

            <div class="row">

                <div class="col-6 form-group">
                    <label for="adresseuser">Adresse</label>
                    <input [(ngModel)]="ajoutUUserData.adresseuser" name="adresse" type="text" id="adresse" class="form-control" required>
                </div>

                <div class="col-6 form-group">
                    <label for="teluser">Telephone</label>
                    <input [(ngModel)]="ajoutUUserData.teluser" name="telephone" type="number" id="tel" class="form-control" required>
                </div>
            </div>

            <div class="row">

                <div class="col-6 form-group">
                    <label for="cni">CNI</label>
                    <input [(ngModel)]="ajoutUUserData.cni" name="cni" type="text" id="cni" class="form-control" required>
                </div>
                <div class="col-6 form-group">
                    <select name="Role" [(ngModel)]="ajoutUUserData.roles">
                                    <option value="volvo">ADMIN</option>
                                    <option value="saab">CAISSIER</option>
                                    <option value="mercedes">Mercedes</option>
                                    <option value="audi">Audi</option>
                                  </select>
                </div>
            </div>

            <button type="button" (click)="ajoutUUser()" class="col-8 mx-auto btn" style="text-align: center" id="btn"> Ajouter </button>

            <p class="text-muted mt-4">
                <span class="small">
                    <img src="../../assets/img/warn.png" alt="" width="20px"> <strong style="color:#A88100"> Warning : </strong> <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, tempora! Pariatur nostrum quos
                    recusandae. Omnis tempora accusantium sunt.
                </span>
            </p>
        </form>
    </div>
</div>