<div class="ajout">
    <h2>Ajouter Utilisateur</h2>
</div>
<div id="contentlogin">
    <div class="row">
        <form id="userform" class="border col-sm-8 col-lg-6 mx-auto p-5" action="">

            <div class="form-group">
                <label for=""> Username </label>
                <input type="text" class="form-control">
            </div>

            <div class="form-group">
                <label for=""> password </label>
                <input type="password" class="form-control">
            </div>

            <div class="form-group">
                <label for="nom">Nom</label>
                <input type="text" id=nom class="form-control">
            </div>

            <div class="form-group">
                <label for="prenom">Prenom</label>
                <input type="text" id="prenom" class="form-control">
            </div>

            <div class="form-group">
                <label for="adresse">Adresse</label>
                <input type="text" id="adresse" class="form-control">
            </div>

            <div class="form-group">
                <label for="telephone">Telephone</label>
                <input type="number" id="tel" class="form-control">
            </div>

            <div class="form-group">
                <label for="cni">CNI</label>
                <input type="text" id="cni" class="form-control">
            </div>

            <button class="btn btn-success"> Ajouter </button>

            <p class="text-muted mt-4">
                <span class="small">
                    <img src="../../assets/img/warn.png" alt="" width="20px"> <strong style="color:#A88100"> Warning : </strong> <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, tempora! Pariatur nostrum quos
                    recusandae. Omnis tempora accusantium sunt.
                </span>
            </p>
        </form>
    </div>
</div>