.content {
    height: 100vh;
    background-color: #fff;
    padding: 50px;
}

.content h4 {
    color: green;
    font-weight: bold;
    border-bottom: 1px solid green;
    width: 50%;
    margin-bottom: 20px;
}

.content p {
    text-align: justify;
    color: gray;
}

#bar {
    background-color: green;
    margin: 0;
    padding: 0;
}

#bar a {
    color: #fff;
    font-style: 15px;
}

#bar p {
    color: #fff;
    font-weight: bold;
    font-size: 27px;
    border-right: solid rgb(203, 236, 203) 2px;
    padding: 5px;
    padding-right: 30px;
    margin: 5px;
    margin-right: 20px;
    text-align: right;
}

#btn {
    background-color: green;
    color: white;
}