<nav class="navbar navbar-expand-lg navbar-light" id="bar">
    <p class="navbar-brand" id="brand">Njoof <br> Transfert </p>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Prestataire</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Utilisateur</a>
            </li>
        </ul>
        <a class="nav-link" href="#"> Login <span class="sr-only">(current)</span></a>
    </div>
</nav>
<div class="content">
    <h4> Contrat D'utilisation </h4>
    <p>
        Conformément aux dispositions du Code de la propriété intellectuelle et aux dispositions du présent contrat, il est rappelé que Njoof Transfert est titulaire de l’ensemble des droits de propriété intellectuelle afférents au Logiciel et à la documentation
        qui l’accompagne ainsi qu’à toutes leurs mises à jour, versions anciennes, actuelles et futures, et de tous les développements effectués par Njoof Transfert. Ces droits ne sont en aucun cas transférés au Licencié du fait du présent contrat. Le
        Licencié s’interdit de porter atteinte de quelque manière que ce soit aux droits de propriété intellectuelle de Njoof Transfert sur le Logiciel. Il est expressément interdit au Licencié d’utiliser ou d’employer le Logiciel de manière non conforme
        au présent contrat.
    </p>
    <button type="button" class="btn" id="btn"> J'accepte </button>
</div>